<div class="col-12 d-block d-md-block d-lg-none px-0 noprint">
    <ul class="horizontalBar">
        <li onclick="ShowPage('/Home/index/')" class="homeTopMenu">الرئيسة</li>
        <li onclick="ShowPage('/groupUsers/members?groupId=')" class="usersTopMenu">الأعضاء</li>
        <li onclick="ShowPage('/groups/details/')" class="groupTopMenu">الأحصائيات</li>
        <li onclick="ShowPage('/posts/groupposts?groupId=')" class="postsTopMenu">المنشورات</li>
        <li onclick="ShowPage('/groups/reporting?id=')" class="reportingTopMenu">إبلاغات</li>
        <li onclick="ShowPage('/Groups/Settings/')" class="settingsTopMenu">الإعدادت</li>
    </ul>
</div>
